* {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 20px;
    overflow-y: auto;
}

.cabecera{
    height: 100px;
    width: 100%;
    background-color: rgb(221, 225, 240);
    border: 0.5px solid rgb(184, 182, 182);
}

.nom_sis{
    position: absolute;
    margin-top: 20px;
    margin-left: 300px;
}

/* Estilos para la imagen */
.img-logo{
    height: 90px;
    width: 100px;
    float: left;
    margin-left: 50px; 
    margin-top: 5px;
}

.img-avatar{
    height: 100px;
    width: 100px;
    float: right;
    margin-right: 30px;
}