.titulo{
    background-color: #5492cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    margin-top: 20px;
    
}

.info{
    background-color: #f6fbff;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    margin-top: 20px;
}

.info p {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 25px;
    margin-left: 20px;
}

.Eliminar_U input[type="submit"] {
    background-color: #5492cc;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    margin-left: 20px;
}

.Eliminar_Salon input[type="submit"] {
    background-color: #5492cc;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    margin-left: 20px;
}

.Eliminar_Edificio input[type="submit"] {
    background-color: #5492cc;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    margin-left: 20px;
}

.Eliminar_Departamento input[type="submit"] {
    background-color: #5492cc;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    margin-left: 20px;
}

.regresar {
    background-color: #80b3e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px; 
    margin-bottom: 10px; 
    display: inline-block; 
    margin-left: 20px;
}

.regresar:hover {
    background-color: #417fb3;
}

